.container{
    display: grid;
}
.divheader{
    background-color: #41B6E6;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0 0 0 10px;
    width: 180px;
    height: 40px;
    display: block;
    padding: 20px 0 0 20px;
}
.title{
    color:#003DA5;
    margin: 15px;
}
.title2,
.descripList{
    margin: 15px;
}
.divImage{
    margin: 10px;
    text-align: center;
}
.description{
    color: #4F758B;
    margin: 15px;
}
.btnApply{
    background-color: #41B6E6;
    border: none;
    width: 229px;
	height: 54px;
	border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
    
}