.container{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}  
.divcontainerheader{
    display: flex;
    justify-content: flex-end;
}
.divheader{
    background-color: #41B6E6;
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 0 0 0 10px;
    width: 180px;
    height: 40px;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}
.backHeader {
	background: #41b6e6;
	padding: 10px;
	border-radius: 0 0 0 15px;
	color: #ffffff;
	font-size: 0.8em;
}
.title{
    color:#003DA5;
    margin: 15px;
}
.title2,
.descripList{
    margin: 15px;
}
.divImage{
    margin: 20px;
    text-align: center;
}
.containerTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description{
    color: #4F758B;
    margin: 15px;
}
.divHeart{
    display: flex;
    justify-content: flex-end;
}
.btnApply{
    background-color: #41B6E6;
    border: none;
    width: 229px;
	height: 54px;
	border-radius: 30px;
    color: #FFFFFF;
    font-weight: bold;
    margin: 10px;
    margin-left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 1024px) {
	.container {
		justify-content: space-between;
		min-height: 100vh;
	}
}