.btnComeBack{
    display:flex;
    align-items: center;
    color: #4F758B; 
    background: transparent;
    border:none;
}
.btnSelect{
    color: #003DA5;
    background: transparent;
    border:none; 
    font-weight: 800;
}
.topDescription{
    display: flex;
    justify-content:space-between;
    padding: 5%;
    border-bottom: 1px solid #A6BBC8;
}
.container{
    margin: 15px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    border-radius: 50px;
    
}
.boxFloating{
    text-align: center;
    background-color: #41B6E6;
    border-radius: 0px 0px 0px 10px;
    color: white;
    position: absolute;
    width: 34%;
    padding: 5px;
}
.container img{
    width:100%;
    border-radius: 20px 0 0 0;
}
.descripBenefit{
    display: flex;
    align-items: center;
    background-color:#E8ECF3;
    border-radius: 0 0 20px 20px;
    padding: 0px 0px 15px 0px;
} 
.alcostado{
    display: flex;
    justify-content: flex-end;
}
.btnDetaills{
    background-color: #003DA5;
    padding: 3px;
    width: 70%;
    border-radius: 10px 10px 10px 10px;
    border: none;
    color: white;
    font-size: 18px;
    margin: 5px 0 10px 0;
    text-decoration-line: none;
}
.boxFloating h3{
    margin-top: 5px;
}
.boxFloating h4{
    font-size: 22px;
}
.boxFloating p{
    font-size: 13px;
    margin-top: -5px;
}
.benefitName{
    color: #003da5;
    margin-top: 5px;
}